<h3>Dashboard</h3>
<p>This windows shows the different data analysis</p>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">List of tweets</a></li>
    <li><a href="#pane2" data-toggle="tab">Graphical analysis</a></li>
    <li><a href="#pane3" data-toggle="tab">Leads</a></li>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
    	
<% if @tweets %>
  <table class="table table-striped">
  <tr>
<th>User</th>
<th>id</th>
<th>Text</th>
<th>lang</th>
<th>retweeted</th>
  </tr>
  <% @tweets.each do |tweet|%>

<tr>
<td><%=tweet.username %></td>
<td><%= tweet.id %></td>
<td><%= tweet.text %></td> 
<td><%= tweet.lang %></td> 
<td><%= tweet.retweet_count %></td>
  </tr>
  <%end%>
  </table>
<%end%>

    	
    	
    	
    </div>
    <div id="pane2" class="tab-pane">
    <h4>Pane 2 Content</h4>
      <p> and so on ...</p>
    </div>
    <div id="pane3" class="tab-pane">
      <h4>Pane 3 Content</h4>
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->