<p id="notice"><%= notice %></p>

<p>
  <b>Sword:</b>
  <%= @anews.sword %>
</p>

<p>
  <b>Valmnall:</b>
  <%= @anews.valmnall %>
</p>

<p>
  <b>Valsdall:</b>
  <%= @anews.valsdall %>
</p>

<p>
  <b>Aromnall:</b>
  <%= @anews.aromnall %>
</p>

<p>
  <b>Arosdall:</b>
  <%= @anews.arosdall %>
</p>

<p>
  <b>Dommnall:</b>
  <%= @anews.dommnall %>
</p>

<p>
  <b>Domsdall:</b>
  <%= @anews.domsdall %>
</p>

<p>
  <b>Valmnfem:</b>
  <%= @anews.valmnfem %>
</p>

<p>
  <b>Valsdfem:</b>
  <%= @anews.valsdfem %>
</p>

<p>
  <b>Aromnfem:</b>
  <%= @anews.aromnfem %>
</p>

<p>
  <b>Arosdfem:</b>
  <%= @anews.arosdfem %>
</p>

<p>
  <b>Dommnfem:</b>
  <%= @anews.dommnfem %>
</p>

<p>
  <b>Domsdfem:</b>
  <%= @anews.domsdfem %>
</p>

<p>
  <b>Valmnmal:</b>
  <%= @anews.valmnmal %>
</p>

<p>
  <b>Valsdmal:</b>
  <%= @anews.valsdmal %>
</p>

<p>
  <b>Aromnmal:</b>
  <%= @anews.aromnmal %>
</p>

<p>
  <b>Arosdmal:</b>
  <%= @anews.arosdmal %>
</p>

<p>
  <b>Dommnmal:</b>
  <%= @anews.dommnmal %>
</p>

<p>
  <b>Domsdmal:</b>
  <%= @anews.domsdmal %>
</p>


<%= link_to 'Edit', edit_anews_path(@anews) %> |
<%= link_to 'Back', anews_path %>
