<% if tweets %>
<table id="table_tweets" class="table table-striped">
	<thead>
		<tr>
			<th width="10%">Date</th>
			<th width="5%">User</th>
			<th width="5%">Gender</th>
			<th width="70%">Text</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% tweets.each do |tweet| %>
		<tr>
			<td><%= tweet.tweeted_at.to_date %></td>
            <td><%= link_to "#{tweet.screen_name}", "http://twitter.com/#{tweet.screen_name}" %></td>
			<td><%= tweet.gender %></td>
			<td><%= tweet.text %></td>
			<td><%= tweet.lead %></td>
			<td>
              <%= link_to raw("#{'<i class="icon-trash bigger-120"></i>'}"), :controller => 'terms', :action => 'delete_lead', :screen_name => tweet.screen_name, :text => tweet.text %>
            </td>
		</tr>
		<% end %>
	</tbody>
</table>

<script type="text/javascript">
	$(function() {
		var oTable1 = $('#table_tweets').dataTable( {
		
		} );
	})
</script>

<% end %>