<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <h3>Terms</h3>
    </div>
    <div class="span2">
      <%= link_to "+ New", new_term_path, :class=>"btn" %>
    </div>
    <div class="span8">
      <table class="table table-condensed">
        <thead>
          <tr>
            <!--  <th>Username</th> -->
            <th>Description</th>
            <th>Keywords</th>
            <th>Creation date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @terms.each do |term| %>
          <tr>
          <!--            <td><%= link_to term.user.email, term %></td> -->
          <td><%= link_to term.description, term %></td>
          <td><%= term.keywords %></td>
          <td><%= term.created_at.to_date %></td>
          <td>
            <%= link_to "", edit_term_path(term), :class => 'icon-edit'%>
            <%= link_to("", term_path(term), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'icon-trash') %></td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
