<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        	
      <%= render :partial => 'sidebar' %>

    </div><!--/span-->
    
    <div class="span9">

<h2> Twitter search term </h2>

<div id="container_chart_tweets_per_hour" style="min-width: 310px; height: 400px; margin: 0 auto">
	<%= high_chart(@chart_tweets_per_hour) do |c| %>
	  <%= raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}" %>
	  <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }" %>
 	<% end %>
</div>


<%= high_chart("container_chart_tweets_per_hour_2", @chart_tweets_per_hour) do |c| %>
  <%= raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}" %>
  <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }" %>
 <% end %>

<%= high_chart("my_gender_div", @chart_tweets_per_gender) %>

<%= high_chart("my_location_div", @chart_tweets_per_location) %>

<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Keywords</th>
	<th>Last search</th>
	<th></th>
  </tr>
<tr>
<td><%= @term.description %></td> 
<td><%= @term.keywords%></td>
<td><%= @term.searched_at %></td>
	<td>
				
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Sync with Twitter</a></li>
  </ul>
</div>
		
	</td>
</tr>
</table>

<% if @tweets %>
  <table class="table table-striped">
  <tr>
<th>User</th>
<th>id</th>
<th>Text</th>
<th>lang</th>
<th>retweeted</th>
  </tr>
  <% @tweets.each do |tweet|%>

<tr>
<td><%=tweet.username %></td>
<td><%= tweet.id %></td>
<td><%= tweet.text %></td> 
<td><%= tweet.lang %></td> 
<td><%= tweet.retweet_count %></td>
  </tr>
  <%end%>
  </table>
<%end%>
</div>
</div>
</div>

