<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @filter.key %>
</p>

<p>
  <b>Value:</b>
  <%= @filter.value %>
</p>

<p>
  <b>Type:</b>
  <%= @filter.type %>
</p>


<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
