<div class="well sidebar-nav">
	<ul class="nav nav-pills nav-stacked">
		<li class="nav-header">
			Data analysis
		</li>
		<li>
			<%= link_to 'by gender', showgender_term_path %>
		</li>
		<li>
			<%= link_to 'by date', showdatetime_term_path %>
		</li>
		<li>
			<%= link_to 'by location', showlocation_term_path %>
		</li>
		<li>
			<%= link_to 'list of tweets', showlist_term_path %>
		</li>
		<li>
			<%= link_to 'Leads', showlead_term_path %>
		</li>
	</ul>
</div>
