<form class="form-inline">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Choose a marketing campaign <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% my_terms.each do |term| %>
          <li class="<%= 'active' if current_page?(showlist_term_path(term.id)) %>">
            <%= link_to term.description, showlist_term_path(term.id) %>
          </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <%= link_to 'my Terms', terms_path %>
      </li>
    </ul>
  </div>
  <%= select("post", "location", Filter.where(:type => "location").collect { |p| [p.value, p.key] }, {include_blank: 'All'}, {prompt: 'Select location'}) %>
  <%= select("post", "gender", Filter.where(:type => "gender").collect { |p| [p.value, p.key] }, {include_blank: 'All'}, {prompt: 'Select gender'}) %>
  <span class="input-group-addon">
    <i class="icon-calendar bigger-110"></i>
  </span>
  <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1">

  <button class="btn btn-info" type="button">
    <i class="icon-ok bigger-110"></i>
    Submit
  </button>
</form>
