<span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
<%= link_to raw("#{'<small><i class="icon-twitter"></i> Twittermómetro</small>'}"), root_path, :class => 'brand' %>
<ul class="nav ace-nav pull-right">
	<% if user_signed_in? %>	
	<li class="light-blue user-profile">
		<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">			
			<span id="user_info">
				<small>Welcome,</small>
				<%= current_user.name %>
			</span>
			<i class="icon-caret-down"></i>
		</a>
		<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
			<li>
				<%= link_to raw("#{'<i class="icon-user"></i> Profile'}"), edit_user_registration_path %>				
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to raw("#{'<i class="icon-off"></i> Logout'}"), destroy_user_session_path, :method=>'delete' %>				
			</li>
		</ul>
	</li>
	
	<% if current_user.has_role? :admin %>
	<li class="light-blue">
		<%= link_to 'Admin', users_path %>
	</li>
	<% end %>
	<% else %>
	<li class="light-blue">
		<%= link_to 'Login', new_user_session_path %>
	</li>
	<li class="light-blue">
		<%= link_to 'Sign up', new_user_registration_path %>
	</li>
	<% end %>	
</ul>
